services:
  portal:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portal
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production